.env
.env.*
/.vagrant
/.idea
/.vscode
/.fleet
/.phpunit.cache
.phpunit.result.cache
/node_modules
/vendor
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*.php
/storage/framework/sessions/*.php
/storage/framework/views/*.php
npm-debug.log
yarn-error.log
pnpm-debug.log
/.sass-cache
/.cache
/public/hot
/resources/css/app.css.map
/public/build
Thumbs.db
Desktop.ini
.DS_Store

