.cart-page th {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.cart-page td {
    color: black;
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
}

.cart-page td:first-child {
    font-size: 16px;
}

.cart-page .item .item-image {
    margin-right: 20px
}

.cart-page .item .item-image img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.cart-page .item .name {
    font-size: 20px;
    font-weight: 600;
}

.cart-page .delete-item i {
    color: red;
}

.check-out {
    list-style-type: none;
    color: black;
    padding: 12px;
}

.check-out li {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.check-out li span {
    float: right;
}

.check-out .book-now {
    width: 100%;
    margin-top: 20px;
} 

.item-card {
    text-align: center;
}

.item-card .item-detail {
    padding: 10px;
}

.item-card .item-detail .item-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: black;
}

.item-card .item-image img {
    height: 250px;
}

.item-card .item-image {
    position: relative;
}

.item-card .item-image .veg {
    position: absolute;
    top: 10px;
    right: 10px;
}

.c-image img {
    width: 100%;
    height: 120px;
    border: 1px solid #d1d0d0;
    border-radius: 10px;
}

.cname {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.mc-item {
    border: 1px solid #d1d0d0;
    padding: 10px;
}

.mc-item .item-image img {
    height: 200px;
}

.item-card .iimage img {
    height: 50px;
}

.item-card .iimage {
    margin-right: 10px;
}


.item-card .iitem .item-name {
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.item-card .iitem .item-price {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.order-items .c-name {
    font-size: 16px;
    font-weight: 600;
}

.card-footer .items p {
    color: black;
    margin-bottom: 5px;
}

.card-footer .status {
    color: green;
    vertical-align: middle;
}

/* .item-card .item-image img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    text-align: center;
    border: 4px solid #d4a762;
    padding: 3px;
} */

.item-card .item-detail {
    border-radius: 10px;
}

.item-card .item-detail .price {
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.logo-image {
    display: flex;
    justify-content: center;
    text-align: center;
}